/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

@import 'global/variables';
//@import 'global/forms';

//@import 'layouts/header';
//@import 'layouts/footer';
//@import 'layouts/front';
//@import 'layouts/sidebar';
//@import 'components/draft-pending-views';
//@import 'components/employment_opportunity_page';
//@import 'components/blocks/blocks_global';
//@import 'components/_carousel';
//@import 'components/iframe';
//@import 'components/node';
//@import 'components/newsblock';
//@import 'components/search';
//@import 'components/socialmedia';
//@import 'components/status_message';
//@import 'components/video_embed';
//@import 'pages/landing_page';
//@import 'pages/all_pages';
//@import 'legacy/classes';
//@import 'views/_viewname_view';

html[lang="fr"] .english-only {
  display: none !important;
}

html[lang="en"] .french-only {
  display: none !important;
}

body > div > div.container {
  border-right: 1px solid $wxttheme-border;
  border-left: 1px solid $wxttheme-border;
}


SPAN.required-red-star, .publications-form-preamble {

  color: red !important;
  font-size: 1.4em;
}

.panel-heading A { text-decoration: none; }

#wb-bar .container .row:first-of-type {
  background: white;
}


#wb-bnr,  #wb-bnr .container {
  background: $wxttheme-button-color;
}

#wb-bnr .container {
  background: $wxttheme-button-color url('/sites/default/themes/ised_publications_theme/images/533_wet4-banner_2.jpg') !important;
}




header.navbar-default p.navbar-text, A.navbar-brand:hover { 
  color: white; text-decoration: underline !important; 
}

A.navbar-brand, A.navbar-brand:visited { 
  text-decoration: none !important;
  color: white !important;
  font-size: 1.6em;
}



.icon.glyphicon.glyphicon-log-in
{
  min-height: 20px;
}

.region.region-content-footer
{
  padding-top: 20px;
}



header.navbar-default { 

  a.navbar-brand, p.navbar-text {
    color: white;
  }
}


body.path-frontpage {
  div.region-help {
    .col-md-4, .col-md-8 {
      //padding-left: 0;
    }
    section.block-entity-blockmedia {
      padding-right: 0;
      margin-left: 0;
    }
  }
  article h2:first-child {
    display: none;
  }
}


body main {
  ul, ol {
    padding-left: 2.5em;
  }
}
 
/*
@media screen and (max-width: 991px) {
  #wb-bnr {
    background-image: -webkit-linear-gradient(#77bc1f, #77bc1f, #007852) !important;
    background-image: linear-gradient(#77bc1f, #77bc1f, #007852) !important;
  }
  .region-banner {
    a.name.navbar-brand {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: x-large;
      height: auto;
    }
  }
  #wb-glb-mn .pnl-btn a {
    font-size: 1.4em;
  }
  #wb-glb-mn .pnl-btn span .glyphicon-th-list {
    padding-left: 0;
  }
  #mb-pnl nav {
    a.mb-item[href *= "structure"] {
      display: none;
    }
  }
  section.lng-ofr {
    ul.list-inline {
      a[href *= "languageswitcher"] {
        display: none;
      }
    }
  }
*/

  /* Canada Government Logo Size */
  /*
  #agrisource-wmms {
    height: 2.35em;
    left: 15px;
    margin-top: -8px;
    position: absolute;
    top: -2.2em;
  }
  #wb-bnr {
    background-color: $agrisource-button-color;
    background-image: none;
   .container .row.agri-banner-row {
      position: relative;
    }

 

  }
}

*/
